<div class="panel panel-danger">
<div class="panel-heading">
<div class="media">
<div class="media-left">
<img src="http://localhost:8085/middleware/getimage?email={{blogPost.author.email}}" height="50px" width="50px" alt="No Image">
</div>
<div class="media-body">
<h5 class="media-heading">
<b>Blog Title:</b>{{blogPost.blogTitle}}<br>
<b>Posted On :</b> {{blogPost.postedOn | date:'dd-MMM-yyyy :hh:mm:ss'}}<br>
<b>Author    :</b>{{blogPost.author.email}}<br>
</h5>
</div>
</div>
</div>



<div class=panel-body>
<div>
<p ng-bind-html="content"></p><br>
</div>
<button class="btn btn-primary" ng-click="approveBlogPost(blogPost)" ng-hide="isRejected">Approve</button> &nbsp; 
<button class="btn btn-danger" ng-click="rejected()" ng-hide="isRejected">Reject</button>
<div ng-show="isRejected">
<textarea rows="4" cols="50" ng-model="rejectionReason"></textarea>
<button class="btn btn-danger" ng-click="rejectBlogPost(blogPost,rejectionReason)">Reject</button>
</div>
</div>
</div>