<div class="panel">
<div clas="panel-heading" style="background-color:black;color:white">
<b><center><h2><em><br>Edit User Details</em></h2></center></b>
</div>
<div class="panel-body">
<div ng-show="user==undefined">
<h3><a href="#/login">Please login to update user details</a></h3>
</div>

<div ng-show="user!=undefined">
<br>
<span style="color:red">{{error.errorMessage}}</span>
<table class="table table-striped">
<tr>
<td>Enter email      :</td><td><input type="email" ng-model="user.email" disabled></td>
</tr>
<tr>
<td>Enter password   :</td><td><input type="password" ng-model="user.password"></td>
</tr>
<tr>
<td>Enter Firstname  :</td><td><input type="text" ng-model="user.firstname"></td>
</tr>
<tr>
<td>Enter Lastname   :</td><td><input type="text" ng-model="user.lastname"></td>
</tr>
<tr>
<td>Enter phonenumber:</td><td><input type="text" ng-model="user.phonenumber"></td>
</tr>
<tr>
<td>Select Role      :</td>
<td><select ng-model="user.role">
					<option value="ADMIN">Admin
					<option value="STUDENT">Student
					<option value="ALUMNI">Alumni
					<option value="EMPLOYEE">Employee
</select></td>
</tr>
<tr>
<td colspan="2" align="justify"><button ng-click="updateUserProfile(user)" class="btn btn-primary">Edit</button>
</tr>
</table>
</div>
</div>
</div>